/* Page sizing and positioning */
.pageHeight {
  min-height: 720px;
}

/* Question Page CSS */

.backgroundCorrect {
  background: linear-gradient(180deg, #76e0c2 0%, #59cada 100%);
}

.backgroundAlmostThere {
  background: linear-gradient(180deg, #f4f168 0%, #ee9a2d 100%);
}

.backgroundGettingBetter {
  background: linear-gradient(180deg, #f6b868 0%, #ee6b2d 100%);
}

.backgroundIncorrect {
  background: linear-gradient(180deg, #f1b496 0%, #ea806a 100%);
}

/* Font CSS */

.defaultFont {
  font-family: "Mulish";
  font-style: normal;
}
.questionText {
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */
  /* White */
  color: #ffffff;
}

.resultText {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */
  /* White */
  color: #ffffff;
}

/* FOR BUTTONS */

.rectangle {
  display: flex;
  flex-direction: row;

  margin-bottom:25px;
  margin-right: auto;
  margin-left: auto;

  min-height: 80px;
  border: 2px solid #f9d29f;
  box-sizing: border-box;
  border-radius: 100px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.buttonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;


  width: 50%;
  border-radius: 100px;
}

.unselected {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */
  /* White */

  color: #ffffff;
}

.selectedCorrect {
  background: #a5e7e2;

  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */

  color: #4cad94;
}

.selectedAlmostThere {
  background: #f2cbbd;

  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */

  color: #e4b158;
}

.selectedGettingBetter {
  background: #f2cbbd;

  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */

  color: #e47958;
}

.selectedIncorrect {
  background: #f8caa3;
  
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */

  color: #9f938b;
}

/* Responsive for phone */
@media all and (max-width: 320px){
  .rectangle {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    min-height: 96px;
    border: 2px solid #f9d29f;
    box-sizing: border-box;
    border-radius: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .buttonContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    text-align: center;
  
    width: 100%;
    border-radius: 24px 24px 24px 24px;
  }
  
}

/* Debugging */
.red {
  background-color: red;
}

.green {
  background-color: green;
  border: solid;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}
