.rectangle {
  box-sizing: border-box;
  width: 900px;
  height: 80px;

  border: 2px solid #f9d29f;
  border-radius: 100px;
}

.optionBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 157px;
  gap: 10px;

  border-radius: 100px;
}

.optionBoxSelected {
  background: #f8caa3;
}

.optionTextUnselected {
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */
  /* White */

  color: #ffffff;
}

.optionTextSelected {
  width: 132px;
  height: 38px;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */

  color: #9f938b;
}

.questionText {
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */
  /* White */
  color: #ffffff;
}

.resultText {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* identical to box height, or 45px */

  /* White */

  color: #ffffff;
}

.defaultText {
  font-family: "Mulish";
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-incorrect {
  background: linear-gradient(180deg, #f6b868 0%, #ee6b2d 100%);
}

.background-correct {
  background: linear-gradient(180deg, #76e0c2 0%, #59cada 100%);
}

.background-semi-correct {
  background: linear-gradient(180deg, #f6b868 0%, #ee6b2d 100%);
}
